  <nav>
    <div class="nav-brand">
        <p>Manage your little fish</p>
    </div>
    <a href="html/aquarium.html">Aquarium</a>
    <a href="html/my_fish.html">My Fish</a>
    <a href="html/friends.html">Friends</a>
    <a href="html/shop.html">Shop</a>
    <div class="nav-coins">
        <!-- Mettre icon de coins -->
      <p id="coins">1 240</p>
    </div>
    <div class="nav-avatar">
        <!-- Mettre icon de l'avatar, on doit le récupérer en Blob dans la BDD -->
        <a href="html/profile.html">Profile</a>
    </div>
  </nav>